<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Услуги</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
    <div th:replace="layouts/header :: header"></div>
    <main>
        <h1 class="uslwrap">Страница с услугами</h1>
        <div class="wrapper">
            <div>
                <h1>Быстро</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, numquam repellat. Ea magnam, necessitatibus. A accusantium, aliquam aliquid, consequatur dolorum ducimus odit officiis pariatur praesentium quaerat reiciendis rerum tempore voluptate!
            </div>
            <div>
                <h1>Дешево</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid autem beatae blanditiis cumque, distinctio dolorem exercitationem facilis laudantium magni nemo odio perspiciatis possimus quam quo, sapiente, ullam vitae voluptas.
            </div>
            <div>
                <h1>Качественно</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam delectus dolor dolorum exercitationem harum impedit laboriosam mollitia porro quidem. Aliquid, dolores dolorum labore maxime nostrum officiis quibusdam quod repudiandae?
            </div>
        </div>


    </main>
    <div th:replace="layouts/footer :: footer"></div>

</body>
</html>