<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
    <div th:replace="layouts/header :: header"></div>
    <main>
        <h1 class="uslwrap">Страница с услугами</h1>
        <div class="wrapper">
            <div>
                <h1>Быстро</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, numquam repellat. Ea magnam, necessitatibus. A accusantium, aliquam aliquid, consequatur dolorum ducimus odit officiis pariatur praesentium quaerat reiciendis rerum tempore voluptate!
                </p>
            </div>
            <div>
                <h1>Дешево</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, numquam repellat. Ea magnam, necessitatibus. A accusantium, aliquam aliquid, consequatur dolorum ducimus odit officiis pariatur praesentium quaerat reiciendis rerum tempore voluptate!
                </p>
            </div>
            <div>
                <h1>Качественно</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, numquam repellat. Ea magnam, necessitatibus. A accusantium, aliquam aliquid, consequatur dolorum ducimus odit officiis pariatur praesentium quaerat reiciendis rerum tempore voluptate!
                </p>
            </div>
        </div>


    </main>
    <div th:replace="layouts/footer :: footer"></div>

</body>
</html>